<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartfarming">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_theme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity android:name=".MainActivity" android:label="@string/activityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Stoccaggio" android:label="@string/activityStoccaggio">
        </activity>
        <activity android:name=".Homepage" android:label="@string/activityHomepage">
        </activity>
        <activity android:name=".Raccolta" android:label="@string/activityRaccolta">
        </activity>
        <activity android:name=".Registrazione" android:label="@string/activityRegistrazione">
        </activity>
        <activity android:name=".Irrigazione" android:label="@string/activityIrrigazione">
        </activity>
        <activity android:name=".DatiCampo" android:label="@string/activityDatiCampo">
        </activity>
        <activity android:name=".NuovoSolco" android:label="@string/activityDatiCampo">
        </activity>
        <activity android:name=".DatiCampo2" android:label="@string/activityDatiCampo">
        </activity>
        <activity android:name=".Semina" android:label="@string/activitySemina">
        </activity>
        <activity android:name=".NuovoCampo" android:label="@string/activityNuovoCampo">
        </activity>
    </application>

</manifest>